---
layout: solamona
title: Gimnazija Koper
---

<div class="con">

  <h1 class="school-name">Gimnazija Koper</h1>

  {% include breadcrumbs.html %}

  <div class="row list">

    <div class="list-item-wrap col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="/s/gim-kp/spl" class="list-item">
        <div class="list-item-image">
          {% include icon.html icoPath='programi/student' cutAfter='UTF-8"?>' %}
        </div>
        <div class="list-item-text">
          <span class="list-item-title">Splošna smer</span>
          <span class="list-item-subtitle">4 letni program</span>
        </div>
      </a>
    </div>

  </div>

</div>
