---
layout: solamona
title: Srednja Tehniška Šola Koper
---

<div class="con">

  <h1 class="page-name">Srednja Tehniška Šola Koper</h1>

  {% include breadcrumbs.html %}

  <div class="row list">

    <div class="list-item-wrap col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="/s/sts-kp/rac" class="list-item">
        <div class="list-item-image">
          {% include /icons/programi_v2/racunalnikar.svg %}
        </div>
        <div class="list-item-text">
          <span class="list-item-title">Računalnikar</span>
          <span class="list-item-subtitle">3 letni program</span>
        </div>
      </a>
    </div>

    <div class="list-item-wrap col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="/s/sts-kp/rat" class="list-item">
        <div class="list-item-image">
          {% include /icons/programi_v2/racunalniski-tehnik.svg %}
        </div>
        <div class="list-item-text">
          <span class="list-item-title">Računalniški Tehnik</span>
          <span class="list-item-subtitle">+2 od računalnikar</span>
        </div>
      </a>
    </div>

  </div>

</div>