@import 'variables';
@import 'common_mixins';

$crumb-padding: .75rem;

.breadcrumbs {
  margin-top: 24px;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding: .5rem .8rem;
  background-color: #FFF;
  border: 1px solid #dae1e7;
  border-radius: $item-border-radius;
  font-size: 16px;
  cursor: default;
  @include no-select;

  ol {
    list-style-type: none;
    display: flex;

    li {
      display: inline-block;
      vertical-align: middle;

      a {
        font-weight: 500;
        color: #8E8E8E;
        text-decoration: none;
        padding: .25rem $crumb-padding;
        min-width: 30px;

        &:hover {
          background: #EFEFEF;
          border-radius: 420px;
        }

        &.path-root {
          font-weight: 600;
        }
      }

      span.path-separator {
        color: #8795a1;
        padding: 0 .25rem;
      }

      span.path-end {
        font-weight: 600;
        color: $ghblack;
        padding: .25rem $crumb-padding;
      }
    }
  }
}


@include for-mobile {
  .breadcrumbs {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 16px;
    font-size: 14px;

    .path-segment {
      font-weight: 600;
      color: #586069 !important;
    }

    a {
      padding: .25rem !important;
    }

    span.path-separator {
      padding: .1rem !important;
      font-size: 1rem !important;
    }

    span.path-end {
      padding: .25rem !important;
    }
  }
}