@import 'variables';

@mixin no-select() {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin list-grid-item-border-hover() {
  transition: all 60ms ease-out 0s;
  will-change: transform;
  border: 1px solid $item-border-color;
  background-color: white;
  box-shadow: 0 1px 0 0 $item-border-color;

  outline: 0;

  @include no-select();

  &:hover {
    //box-shadow: 0 0 0 1px $item-border-color, inset 0 0 0 1px $item-border-color;
    z-index: 100;
    //background-color: #FAFBFD
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 0 0 0 $item-border-color;
  }

  // Za dodat style ko je mobile ko so usi itak list itemi
}