@import 'variables';
@import 'common_mixins';

.list-title {
  padding: 16px 0 0 16px;
  font-family: $default-font;
  font-weight: 600;
  display: block;
  width: 100%;
  font-size: 18px;
  margin-bottom: -8px;
}

.list {
  padding: 8px;

  .list-item-wrap {
    padding: 8px;

    .list-item {
      @include list-grid-item-border-hover();
      padding: 0 1rem;
      color: $ghblack;
      text-decoration: none;
      position: relative;
      border-radius: 6px;
      height: 88px;
      display: flex;
      align-items: center;


      .list-item-image {
        $d: 48px;
        width: $d;
        height: $d;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .list-item-text {
        padding-left: 20px;
        font-family: $default-font;
        display: flex;
        flex-direction: column;

        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .list-item-title {
          font-size: 17px;
          font-weight: 500;
          //padding-top: 2px;
        }

        .list-item-subtitle {
          font-size: 14px;
          font-weight: 400;
          padding-top: 1px;
          color: #656565 !important;
        }
      }
    }
  }
}


@include for-mobile {
  .list-title {
    padding-left: 8px;
    margin-bottom: 0;
  }

  .list {
    padding: 8px 0;

    .list-item-wrap {
      padding: 0;

      &:nth-child(1) {
        border-top: 1px solid $list-item_border_color;
      }

      .list-item {
        border: 0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        border-bottom: 1px solid $list-item_border_color;

        &:hover {
          border: 0;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
          border-bottom: 1px solid $list-item_border_color;
        }
      }
    }
  }
}