// Default font styles
$default-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$logo-font: 'poppinsregular';
$roboto: 'Roboto', sans-serif;

// Sizes
$hh: 56px;
$mw: 980px;

// Viewport breakpoints
$xs: 576px;
$sm: 786px;
$md: 992px;
$lg: 1200px;

// Elevation
$z1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$z2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// Colors
$ghblack: #24292e;
$selection-color: #ccff00;
$border-color: #eaecef;
$border-color-2: rgba(0,0,0,0.125);

// Paragraph styles
$p-line-height: 24px; // 26px
$p-font: $default-font;//"Verdana"; // "Source Serif Pro", serif;
$p-font-size: 1rem; // 18px
$bold-weight: 600;

// Heading styles
$h1-font: "Verdana";
$h1-font-size: 2rem; // 36px
$h1-font-weight: 600;
$h1-color: #111;

$h2-font: "Georgia";
$h2-font-size: 1.6666666666666667rem; // 30px;
$h2-font-weight: 500;
$h2-color: #111;

$h3-font: "Arial";
$h3-font-size: 1.2222222222222223rem; // 22px
$h3-font-weight: 600;
$h3-color: #212121;

$h4-font: "Helvetica";
$h4-font-size: 1rem;
$h4-font-weight: 600;
$h4-color: #333;

// List item and grid item styles
$item-border-color: rgba(217, 224, 230, 1);

// Predmet styles
$predmet_all_color: $item-border-color;

$predmet_border_color: $predmet_all_color;
$predmet_hover_shadow_color: $predmet_all_color;

$list-item_all_color: $item-border-color;
$list-item_border_color: $list-item_all_color;