$hh: 56px;
$mw: 980px;

$xs: 576px;
$sm: 786px;
$md: 992px;
$lg: 1200px;

$z1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$z2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

$ghblack: #24292e;
$selection-color: #ccff00;
$border-color: #eaecef;
$border-color-2: rgba(0,0,0,0.125);

$roboto: 'Roboto', sans-serif;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: #f7f7f7;
  line-height: 1.5;
  color: $ghblack;
}

.con {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  max-width: $mw;
}

html {
  &.desktop {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    body, 
    #sscon {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

#sscon.mobile {
  overflow-y: auto;
}

button {
  outline: none!important;
  font-weight: 500!important;
}

::selection,
::-moz-selection {
  background-color: $selection-color;
}