// base color
$predmet_all_color: rgb(217, 224, 230);
//rgba(0,0,0,0.16)
// border and shadow on rest
$predmet_border_color: $predmet_all_color;
$predmet_shadow_color: $predmet_all_color;
// border and shadow on hover
$predmet_hover_shadow_color: $predmet_all_color;
$predmet_hover_border_color: rgba(0, 0, 0, 0.24);

.predmeti {
  padding: 8px 0 8px 0;
  margin: 0 -8px 0 -8px;
}

.predmet-wrap {
  padding: 8px;
}

.predmet {
  display: block;
  padding: 13px;
  background-color: #FFF;
  border: 1px solid $predmet_border_color;
  //box-shadow: 0 1px 0 0 $predmet_shadow_color;
  text-decoration: none;
  color: $ghblack;

  transition: all 150ms ease-out 0s;
  will-change: transform;
  border-radius: 6px;
  user-select: none;

  &:hover {
    //transform: translate3d(0px, -2px, 0px);
    transform: translateY(-2px);
    box-shadow: rgba(217, 224, 230, 0.7) 0px 1px 3px 0px, rgba(217, 224, 230, 0.7) 0px 5px 15px 0px;
    //box-shadow: 0 0 0 1px $predmet_hover_shadow_color, inset 0 0 0 1px $predmet_hover_shadow_color;
    //border-color: $predmet_hover_border_color;
    z-index: 10;
  }

  &:active {
    //transform: translate3d(0px, 0px, 0px);
    transform: translateY(0px);
  }

  .predmet-content {
    position: relative;

    .predmet-figure {
      padding: 26px 0 20px 0;

      .predmet-icon {
        $d: 56px;
        width: $d;
        height: $d;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto;

        svg {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }

    .predmet-status {
      $s: 10px;
      position: absolute;
      top: -4px;
      right: -4px;
      width: $s;
      height: $s;
      background-position: center;
      background-size: $s;
      background-repeat: no-repeat;
      border-radius: 420px;

      &.nic {
        //background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4gPCFET0NUWVBFIHN2ZyAgUFVCTElDICctLy9XM0MvL0RURCBTVkcgMS4xLy9FTicgICdodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQnPiA8c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8cGF0aCBkPSJtMTkgM2EyIDIgMCAwIDEgMiAydjE0YTIgMiAwIDAgMSAtMiAyaC0xNGEyIDIgMCAwIDEgLTIgLTJ2LTE0YTIgMiAwIDAgMSAyIC0yaDE0bS04IDRhMiAyIDAgMCAwIC0yIDJ2NmEyIDIgMCAwIDAgMiAyaDJhMiAyIDAgMCAwIDIgLTJ2LTZhMiAyIDAgMCAwIC0yIC0yaC0ybTAgMmgydjZoLTJ2LTZ6IiBmaWxsPSIjNjA3RDhCIi8+IDwvc3ZnPiA=);
        background-size: $s;
      }

      &.pmd {
        //background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiAgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPiAgIDxwYXRoIGZpbGw9IiM2MDdEOEIiIGQ9Ik0yLjIsMTYuMDZMMy44OCwxMkwyLjIsNy45NEw2LjI2LDYuMjZMNy45NCwyLjJMMTIsMy44OEwxNi4wNiwyLjJMMTcuNzQsNi4yNkwyMS44LDcuOTRMMjAuMTIsMTJMMjEuOCwxNi4wNkwxNy43NCwxNy43NEwxNi4wNiwyMS44TDEyLDIwLjEyTDcuOTQsMjEuOEw2LjI2LDE3Ljc0TDIuMiwxNi4wNloiIC8+PC9zdmc+);
        background: #5ca3ff;
      }

      &.done {
        background: #21C87A;
      }

      &.wip {
        background: #BFCBD1;
      }
    }

    .predmet-text {
      font-family: $roboto;

      .predmet-title {
        display: block;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        //font-family: 'Open Sans', sans-serif;
      }
      
      .predmet-subtitle {
        display: block;
        font-size: 14px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-top: 4px;
        color: #535353;
        opacity: 0.8;
        font-weight: 500
        //font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .predmeti {
    margin: 0 -12px 0 -12px;
  }
  .predmet-wrap {
    padding: 4px;
  }
}

// 1px manj ker grid še ne switcha in polomi layout
@media screen and (max-width: 575px) {
  .predmeti {
    margin: 0 -16px 0 -16px;
  }
  .predmet-wrap {
    padding: 0;
    &:nth-child(1) {
      .predmet {
        border-top: 1px solid $predmet_border_color;
      }
    }
  }
  .predmet {
    border: 0;
    border-bottom: 1px solid $predmet_border_color;
    box-shadow: none;
    .predmet-content {
      height: 48px;
      position: relative;
      .predmet-figure {
        height: 48px;
        padding: 0;
        width: 48px;
        margin-right: 16px;
        position: absolute;
        top: 0;
        left: 0;
        .predmet-icon {
          width: 48px;
          height: 48px;
        }
      }
      .predmet-status {
        position: absolute;
        top: 2px;
        right: 0;
        width: 18px;
        height: 18px;
      }
      .predmet-text {
        position: absolute;
        top: 0;
        right: 16px + 18px;
        left: 48px + 18px;
        height: 48px;
        .predmet-title {
          text-align: left;
          position: absolute;
          top: 1px;
          left: 0;
          right: 0;
        }
        .predmet-subtitle {
          text-align: left;
          position: absolute;
          bottom: 2px;
          left: 0;
          right: 0;
        }
      }
    }
  }
}