--- 
# front matter for compiling 
--- 

@import 'common_mixins';

@import "base";
@import "header";
@import "doc2";
@import "predmet";
@import "list";
@import "breadcrumbs";
@import "btnoverlay";
@import "animationoverlay";
@import "notifications";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html.scrolling-ready {
  width: auto;
  height: auto;
  overflow: auto;
}

button::-moz-focus-inner,
a::-moz-focus-inner {
  border: 0;
}

body {
  padding-bottom: 64px !important;
}

#logo-big {
  font-family: $logo-font;
  font-weight: 400;
  font-size: 48px;
  padding: 36px 0 24px 0;
  text-align: center;
}

.quote {
  display: inline-block;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: Georgia, serif;
  padding: 0 24px;
  position: relative;
  max-width: 600px;
  margin-bottom: 32px;

  &::before {
    content: '“ ';
    color: #aaa;
    font-size: 36px;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  &::after {
    content: ' ”';
    color: #aaa;
    font-size: 36px;
    line-height: 32px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.page-name {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 24px 0 0px 0;
  //font-family: 'Open Sans', sans-serif;
}

#solamona_logo {
  margin: 48px auto;
  display: block;
}

.imgc {
  display: block;
  margin: 1.5rem auto;
}

#savetheinternet {
  padding: 6px 12px;
  background-color: #1cb15b;
  box-shadow: 0 3px 0 0 #14793f;
  display: inline-block;
  margin: 24px 0;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  transition: all 150ms ease-out;

  @include no-select();

  &:active {
    box-shadow: 0 1px 0 0 #14793f;
    transform: translateY(2px);
  }
}