--- 
# front matter for compiling 
--- 

@import "base";
@import "header";
@import "doc";
@import "scrollbar";
@import "predmet";
@import "list";
@import "breadcrumbs";
@import "btnoverlay";

#logo-big {
  font-family: 'poppinsregular';
  font-weight: 400;
  font-size: 48px;
  padding: 36px 0 24px 0;
  text-align: center;
}

.quote {
  display: inline-block;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: Georgia, serif;
  padding: 0 24px;
  position: relative;
  max-width: 600px;
  margin-bottom: 32px;

  &::before {
    content: '“ ';
    color: #aaa;
    font-size: 36px;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  &::after {
    content: ' ”';
    color: #aaa;
    font-size: 36px;
    line-height: 32px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.page-name {
  font-size: 26px;
  font-family: $roboto;
  font-weight: 400;
  text-align: center;
  padding: 24px 0 0px 0;
}

#solamona_logo {
  margin: 48px auto;
  display: block;
}

.school-name {
  font-family: $roboto;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  padding: 32px 0 16px 0;
}