<!DOCTYPE html>

<html lang="sl">

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <title> {{ page.title }} </title>
    <meta name="description" content="{{page.desc}}" />

    <!-- Fonts -->
    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=latin-ext" rel="stylesheet">
    <!-- Logo font -->
    <link href="assets/font/poppins.css" rel="stylesheet" type="text/css">

    <!-- Page style -->
    <!-- tailwind for in dev -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <!-- bootstrap grid - probably to be replaced with tailwind grid -->
    <link href="assets/css/grid.css" rel="stylesheet" type="text/css">
    <!-- normal page style (but currently all in one file) -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- syntax highlighting styles -->
    <link href="assets/css/syntax.css" rel="stylesheet" type="text/css">
    <!-- test file -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">

  </head>

  <body>

    {{content}}

  </body>

</html>
