---
layout: default
---

<!-- SVG Graphs and such -->
{% if page.jsxgraph %}
<script type="text/javascript" charset="UTF-8" src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraphcore.js">
</script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraph.css" />
{% endif %}

<div id="animations-overlay">

  <div id="link-animation">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#ffffff"
        d="M16,6H13V7.9H16C18.26,7.9 20.1,9.73 20.1,12A4.1,4.1 0 0,1 16,16.1H13V18H16A6,6 0 0,0 22,12C22,8.68 19.31,6 16,6M3.9,12C3.9,9.73 5.74,7.9 8,7.9H11V6H8A6,6 0 0,0 2,12A6,6 0 0,0 8,18H11V16.1H8C5.74,16.1 3.9,14.26 3.9,12M8,13H16V11H8V13Z" />
    </svg>
  </div>

</div>

<div id="buttons-overlay">

  <div id="buttons-overlay-left">

  </div>

  <div id="buttons-overlay-right">
    <button id="back-to-top-btn" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path fill="#607D8B" d="M5 4v2h14V4H5zm0 10h4v6h6v-6h4l-7-7-7 7z" />
      </svg>
    </button>
  </div>

</div>

<div>
  <!-- formerly #sscon-->

  {% include header.html %}

  <div class="con">
    {% include breadcrumbs.html %}
  </div>

  <div class="con">
    <div id="table-of-content" class="collapsed">
      <button id="toc-toggle">
        <div id="toc-toggle-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path fill="#828282" d="M21 11.01L3 11v2h18zM3 16h12v2H3zM21 6H3v2.01L21 8z" />
          </svg>
        </div><span>Vsebina</span>
        <div id="toc-toggle-indicator">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#828282" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </div>
      </button>
      <div id="toc-collapsable">
        {% include toc.html html=content h_max=3%}
      </div>
    </div>
  </div>

  <div class="docwrap">
    <div class="doc">

      {{ content }}

    </div>

    <p id="word_count">{{ page.content | strip_html | number_of_words }} words</p>

  </div>

</div>

<!-- javascriptS -->
<!-- smooth scrollbar -->
<!--script type="text/javascript" src="/assets/js/OverlayScrollbars.min.js"></script-->
<!-- main -->
<script type="text/javascript" src="/assets/js/main.js"></script>

{% if page.latex %}
<!-- MathJax for rendering equations 
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
        extensions: ["tex2jax.js", "TeX/AMSmath.js"],
        jax: ["input/TeX", "output/SVG"],
        messageStyle: "none",
      tex2jax: {preview: "none"}
    })
  </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=default">
</script>
-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css"
  integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js"
  integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(
      document.body, {
        delimiters: [{
            left: "$$",
            right: "$$",
            display: true
          },
          {
            left: "\\[",
            right: "\\]",
            display: true
          },
          {
            left: "$",
            right: "$",
            display: false
          },
          {
            left: "\\(",
            right: "\\)",
            display: false
          }, {
            left: '<script type="math/tex; mode=display">',
            right: '<\/script>',
            display: true
          }
        ]
      }
    );
    document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function (el) {
      el.outerHTML = katex.renderToString(el.textContent.replace(/%.*/g, ''), {
        displayMode: true
      });
    });
  });
</script>
<!-- Here be dragons -->

{% endif %}